---
layout: default 
title: writing
weight: 6 
permalink: /blog/
---



<div class="col-lg-12 mt-3 markdown-body">
<h2> Writing </h2>
Sometimes I feel like writing stuff down for fun, a process I'm trying to force 
myself to do more frequently (is it still fun if it's forced?). Here's a pile 
of writing related to science, generative art, photography, math, etc. that may 
or may not make sense to anyone but me. 
</div>
<hr/>



{% include blog/search.html %}

<div class="card-group mt-2">

    {% for pub in site.posts %}
    <div class="col-lg-6 my-3 wow animated fadeIn" data-wow-delay=".15s">
      <a href="{{ pub.url }}" class="post card text-themed "> 
        <div class="card-body {{ text_style }}">

          <p class="card-text">
                     <h5 id="{{ project_id }}-name" class="card-title">
            {{ pub.title }}
          </h5>
          <p id="{{ pub_id }}-desc" class="card-text", style="font-size:10pt;">
            {%for auth in pub.authors%}{%if auth == pub.authors.last %}, and {%endif%}{% if auth !=  pub.authors.first and auth != pub.authors.last %}, {%endif%}{% if auth contains "Griffin Chure" %}<b>{{auth}}</b>{%else%}{{auth}}{%endif%}{%endfor%}
          </p>
          <p id="{{pub_id}}-info" class="card-text"></p>
            {% if pub.status == 'under review' or pub.status == 'in revision' %}
            <span class="badge badge-pill text-danger border border-danger ml-1"> {{pub.status}} </span> 
            {% endif %}
            {% if pub.journal contains 'xiv' %}
            <span class="badge badge-pill text-primary border border-primary ml-1"> preprint available on {{pub.journal}}</span> 
            {% else %}
            <span class="badge badge-pill text-success border border-success ml-1"> Published in {{pub.journal}}</span> 
            {% endif %}
            {% if pub.doi %}
            <span class="badge badge-pill text-secondary border border-secondary ml-1"> DOI: {{pub.doi}}</span> 
            {%endif%}
          </p>
 

         </p>
          <p class="card-text">
             
          </p>
        </div>
        <div class="card-footer {{ text_style }}">
          {{ pub.year }}
        </div>
      </a>
    </div>
    {% endfor %}
    
  </div>