<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2"> 
  </small>

  {% include social.html %} <br/>
  <span style="font-size: small; color: lightgray;">(c) Griffin Chure 2022. Theme adapted from <a style="color: gray;" href="https://youssefraafatnasry.github.io/portfolYOU/">portfolYou</a></span>

  <!-- {%- assign theme_name = "portfolYOU" -%} -->
  <!-- {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%} -->
  <!-- <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small> -->
  
</footer>