html {
  padding-left: calc(100vw - 100%);
}

body {
  color: $dark;
  background-color: #fff; 
p {
  font-family: "Nunito Sans", sans-serif;  
  text-align: justify;
  hyphens: auto;
}

h1, h2, h3, h4, h5 { 
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;

}

}
.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
