
  .masonry {
      float: left;
    img {
    width: 100%;
    border-radius: 10px;
    max-height: 400px;
  }
      column-count: 1;
      column-gap: 0px;
  }
  
  .masonry .mItem {
    display: inline-block;
    margin-bottom: 0px;
    padding-right: 20px;
    width: 100%;
  }
  
  @media (max-width: 1199px) {
    .masonry {
      column-count: 1;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 1;
    }
  }
  
  @media (max-width: 767px) {
      float: center;
    .masonry {
      column-count: 1;
    }
  }
  