---
# Front matter comment to ensure Jekyll properly reads file.
---

/*
  Site variables
*/

$base-font-family: 'Bellefair', sans-serif;

$body-font-family: 'Cardo', sans-serif;

$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;

$tablet-width: 600px;

$phone-width: 480px;

$header-thickness: 56px;

@import "_sass/-sections-dir";
