---
layout: page
title: Research
---
<div style="width: 75%; margin: auto">
Below is a list of my past, current, and future research projects. Click below
to see a concise summary of the work along with links to the paper, webistes,
and GitHub repositories.
</div>

{% for post in site.categories.research %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}
