// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {
	padding: 0 $grid-spacing/2;
}

.portfolio-wrap {
max-width: 1500px;	
margin-left: 5%;
margin-right: 5%;
}

.portfolio-item {
	position: relative;
	padding: $grid-spacing/2;
	float: left;
	width: 50%;
}

.portfolio-item__link {
	position: relative;
	display: block;
	transition: 0.2s;

	@include mq(tabletl) {

		&:hover {

			.portfolio-item__content {
				opacity: 1;
				visibility: visible;
			}

			.portfolio-item__title {
				font-size: 1.5 * $grid-item-title-small;
				transition: 0.1s;

				@include mq(tabletp) {
				font-size: 1.5 * $grid-item-title-medium;
				}
				
				@include mq(laptop) {
					transition: 0.2s ease-in-out;
					font-size: 1.5 * $grid-item-title-large;
				}
			}

		}
	}
}

.portfolio-item__image {
	border-radius: 10px;
	min-width: 100%;
}

.portfolio-item__content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: left;
	justify-content: left;
	background: linear-gradient( to bottom,
								 rgba(0, 0, 0, 0.85),
								 rgba(0, 0, 0, 0) 50%);

	opacity: 1;
	visibility: visible;
}

.portfolio-item__info {
	text-align: left;
}

.portfolio-item__title {
	color: $overlay-text-color;
	border-bottom: 0px;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	font-style: normal;
	letter-spacing: $grid-item-title-spacing;
	font-family: $title-font;
	padding-left: 10px;
	padding-top: 0px;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.portfolio-item__subtitle {
	margin: 0px;
	color: $overlay-text-color;
	font-size: 0px;
	font-weight: $grid-item-subtitle-weight;
	font-family: $title-font;
	font-style: italic;
	padding-left: 10px; 
	padding-top: 0px;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}

