<!doctype html>
<html>

{% include head.html %}

<body>

<div class="container">
  {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
</div>

<script>    
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      console.log("FUCK YOU I CLICKED")
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  } 
  </script>
  
</body>
</html>
