---
layout: default
title: Home
---

<div style="padding-top: 20px; padding-bottom: 20px; width: 60%; font-family: Cardo; margin-left: auto; margin-right:
auto; line-height: 1.8em;  text-align: justify; text-justify: inter-word;">

The short version is that I'm a biologist trying to become a physicist. The
slightly longer version is that I'm a Biophysics PhD student at
<a href="https://www.caltech.edu">Caltech</a> sitting in the lab of 
<a href="https://www.rpgroup.caltech.edu">Rob Phillips</a> where I develop and
experimentally test physical models of transcriptional regulation in bacteria. I
firmly believe that the future of biology relies on an intuition for the physics
that governs it, especially in evolutionary biology.

</div>
{% for post in site.posts %}

{% if post.sect  == "home" %}

<article>
  {% if post.title == 'Photography' %}
  <a href="{{ site.github.url }}/photography">
  {% else %}
  <a href="{{ site.github.url }}{{ post.url }}">
  {% endif %}
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>
{% endif %}

{% endfor %}

<!-- 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
