---
layout: default
---

{% include site-nav.html %}

{% include header.html %}


<div class="about">
<div class="description">
<p>
{{ page.description }}
</p>

</div>
<div class="image">
  <img src="{{ page.image }}", style="border-radius: 5%">
</div>
</div>


<ul class="post-list">
  {% for rule in page.filter %}
  {% assign posts = site.posts %}
  {% if rule.by_tag %}
  {% assign posts = posts | where_exp: "post", "post.tags contains rule.by_tag" %}
  {% endif %}
  {% if rule.by_category %}
  {% assign posts = posts | where_exp: "post", "post.category == rule.by_category" %}
  {% endif %}
  {% if rule.by_expression %}
  {% assign posts = posts | where_exp: "post", rule.by_expression %}
  {% endif %}
  {% for post in posts %}
  {% assign posts = posts | append: " " | append: post.path %}
  {% endfor %}
  {% endfor %}
  {% if posts %}
  {% assign posts = posts | split: " " | sort | uniq %}
  {% assign posts = site.posts | where_exp: "post", "posts contains post.path" %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}
  {% for post in posts %}
  <li class="post-list-item" data-tags="{{ post.tags | join: " " }}">
    <a class="post-item-link" href="{{ post.url | relative_url }}" data-date="{{ post.date | date: "%m-%d"  }}">

    <div class="post-item-cover" style="background-image: url('{{ post.cover_url }}');"></div>
      {{ post.title | escape }}
    </a>
  </li>
  {% endfor %}
</ul>
