---
layout: default
---

<div class="col-lg-10 mx-auto mt-0 markdown-body">


  <h2> {{page.title}}</h2>
  <p>{%for auth in page.authors%}{% if page.authors.length > 1 %}{%if auth == page.authors.last %}{% if
    page.authors.length > 2 %},{%endif%} and
    {%endif%}{% if auth != page.authors.first and auth != page.authors.last %}, {%endif%}{% if auth contains "Griffin
    Chure" %}<span style='font-weight: 700;'>{{auth}}</span>{%else%}{{auth}}{%endif%}{%else%}<span
      style="font-weight: 700;">{{auth}}</span>{% endif %}{%endfor%}</p>


  {% for button in page.buttons %}
  {% unless page.button.link contains "http" %}<a class="m-1 btn btn-outline-primary btn-md"
    href="{{button.link}}">{%else%}<a class="m-1 btn btn-outline-primary btn-md"
      href="{{site.baseurl}}/assets/publications/{{button.link}}">{%endunless%}
      <i class="{{button.icon}}"></i> {{button.name}}</a>
    {%endfor%}
    <br />
    {% if page.notes %}
    {% for note in page.notes %}
    <i style="color: #6c757d;">{{note}}</i><br />
    {%endfor%}
    {% endif %}

    <hr />

    {% if page.summary %}
    <hr />
    <h3> Non-expert Summary </h3>
    <p>{{page.summary}}</p>

    <hr />
    {% endif %}

    <h3> Scientific Abstract </h3>

    <p>{{page.abstract}}</p>

    <hr />

    <div id="adobe-dc-view" style="height: 1000px; width: 100%;"></div>
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
    <script type="text/javascript">
      document.addEventListener("adobe_dc_view_sdk.ready", function () {
        var adobeDCView = new AdobeDC.View({ clientId: "2b9528d5d0824c3ab5a12c10c2813938", divId: "adobe-dc-view" });
        adobeDCView.previewFile({
          content: { location: { url: "{{site.baseurl}}/assets/publications/{{page.buttons[0]['link']}}" } },
          metaData: { fileName: "Main Text" }
        }, { embedMode: "SIZED_CONTAINER" });
      });
    </script>

</div>